$upper-text:uppercase;

$nav-font-size:14px;
$nav-font-family: Montserrat;
$nav-font-style: normal;
$nav-font-weight: normal;
$nav-line-height: 17px;

$main-font-family: Montserrat;
$main-font-style: normal;
$main-font-weight: normal;
$main-font-weight: bold;
$main-font-size: 12px;
$main-line-height: 15px;

$dark: #1F2041;
$light: #FFFFFF;
$gray: rgba(31, 32, 65, 0.5);
$dark-gray: rgba(31, 32, 65, 0.75);
$primary:#BC9CFF;

$border-radius: 22px;


body {
    margin: 0;
}

li {
    list-style: none;
}

ul {
    padding-left: 0;
}

a {
    text-decoration: none;
}

h1,
p {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1440px;
    margin: 0 8vw;
}

.header__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav__wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.header__list {
    display: flex;
    flex-direction: row;
}

.header__logo {
    margin-right: 0vw;
}

.logo {
    height: 10vh;
    width: 10vw;
}

.header__nav {
    width: 100%;
    display: flex;
    justify-content: center;
}

.header__item {
    margin-right: 40px;
    min-width: 50px;
}

.header__item__link {
    font-family: $nav-font-family;
    font-style: $nav-font-style;
    font-weight: $nav-font-weight;
    font-size: $nav-font-size;
    line-height: $nav-line-height;
    color: $gray;
}

.header__buttons {
    display: flex;
}

.header__login-btn {
    width: 87px;
    height: 34px;
    border-radius: $border-radius;
    font-family: $main-font-family;
    font-style: $main-font-style;
    font-weight: $main-font-weight;
    font-size: $main-font-size;
    line-height: $main-line-height;
    text-transform: $upper-text;
    color: $primary;
    border-color: $primary;
    background-color: $light;
    margin-right: 1vw;
    cursor: pointer;
}

.header__login-btn:hover {
    transition: 0.4s;
    opacity: 0.7;
}

.header__logon-btn:hover {
    transition: 0.4s;
    opacity: 0.7;
}

.header__logon-btn {
    width: 196px;
    height: 34px;
    border-radius: $border-radius;
    font-family: $main-font-family;
    font-style: $main-font-style;
    font-weight: $main-font-weight;
    font-size: $main-font-size;
    line-height: $main-line-height;
    text-transform: $upper-text;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    color: $light;
    border: none;
    cursor: pointer;
}

.main__form {
    background-color: $light;
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 30px 25px 30px;
}

.form__input__wrapper {
    display: flex;
    flex-direction: column;
}

.form__title {
    font-family: $main-font-family;
    font-style: $main-font-style;
    font-weight: $main-font-weight;
    font-size: 24px;
    line-height: 29px;
    color: $dark;
}

.input__lable {
    font-family: $main-font-family;
    font-style: $main-font-style;
    font-weight: $main-font-weight;
    font-size: $main-font-size;
    line-height: $main-line-height;
    text-transform: $upper-text;
    color: $dark;
    margin-top: 3vh;
    margin-bottom: 0.8vh;
}

.form__short {
    width: 150px;
    height: 44px;
    background: $light;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
    font-family: $nav-font-family;
    font-style: $nav-font-style;
    font-weight: $nav-font-weight;
    font-size: $nav-font-size;
    line-height: $nav-line-height;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
}

.form__inputs__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form__guests {
    width: 320px;
    height: 44px;
    background: $light;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
    font-family: $nav-font-family;
    font-style: $nav-font-style;
    font-weight: $nav-font-weight;
    font-size: $nav-font-size;
    line-height: $nav-line-height;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    margin-bottom: 4vh;
    cursor: pointer;
}

.form__button {
    width: 320px;
    height: 44px;
    background: linear-gradient(180deg, #BC9CFF 0%, #8BA4F9 100%);
    border-radius: 22px;
    border: none;
    cursor: pointer;
}

.form__button:hover {
    transition: 0.4s;
    opacity: 0.7;
}

.main {
    padding-top: 10vh;
    height: 58vw;
    background: url(../img/background.png) no-repeat;
    background-size: 100% auto;

}

.footer__wrapper {
    display: flex;
    flex-direction: row;
}

.footer__column {
    width: 15vw;
    margin-top: -12px;
}

.footer__logo-img {
    height: 7vh;
    width: 7vw;
}

.footer__award {
    font-family: $nav-font-family;
    font-style: $nav-font-style;
    font-weight: $nav-font-weight;
    font-size: $nav-font-size;
    line-height: $nav-line-height;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.footer__item {
    font-family: $nav-font-family;
    font-style: $nav-font-style;
    font-weight: $nav-font-weight;
    font-size: $nav-font-size;
    line-height: $nav-line-height;
    color: $gray;
    padding-bottom: 3vh;
    cursor: pointer;
}

.footer__item:hover {
    transition: 0.4s;
    color: $dark-gray;
    font-weight: 600;
}

.footer__item__title {
    font-family: $main-font-family;
    font-style: $main-font-style;
    font-weight: $main-font-weight;
    font-size: $main-font-size;
    line-height: $main-line-height;
    text-transform: $upper-text;
    color: $dark;
}

.footer {
    margin-top: 12vh;
}

.footer__item__special {
    color: rgba(31, 32, 65, 0.75);
}

.footer__item__special:hover {
    cursor: auto;
    font-weight: 400;
    color: $dark-gray;
}

.footer__subscription {
    width: 100%;
    height: 44px;
    background: $light;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
    font-family: $nav-font-family;
    font-style: $nav-font-style;
    font-weight: $nav-font-weight;
    font-size: $nav-font-size;
    line-height: $nav-line-height;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    cursor: pointer;
}

.footer__underline {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.social {
    display: flex;

}

.footer__copyright {
    font-family: $nav-font-family;
    font-style: $nav-font-style;
    font-weight: $nav-font-weight;
    font-size: $nav-font-size;
    line-height: $nav-line-height;
    color: rgba(31, 32, 65, 0.75);
}

.social__item {
    margin-right: 1vw;
}

.social__item:hover {
    transition: 0.4s;
    opacity: 0.7;
}

.footer__line {
    border: 1px solid #d7dbdb;
    border-bottom-width: 0;
}

.footer__column__last {
    width: 20vw;
    margin-top: -12px;
}

.footer__column__first {
    width: 17vw;
}

.form__button__link {
    font-family: $main-font-family;
    font-style: $main-font-style;
    font-weight: $main-font-weight;
    font-size: $main-font-size;
    line-height: $main-line-height;
    color: $light;
    text-transform: $upper-text;
    text-align: center;
}

//2 page

.slidecontainer {
    width: 100%;
    /* Width of the outside container */
}

.container-slider {
    position: relative;
    margin-top: 10px;
    
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}

.slider-track {
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}

input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}

input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}

input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    background-color: #6FCF97;
    cursor: pointer;
    margin-top: -5px;
    pointer-events: auto;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 1em;
    width: 1em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #6FCF97;
    pointer-events: auto;
}

input[type="range"]::-ms-thumb {
    appearance: none;
    height: 1em;
    width: 1em;
    cursor: pointer;
    border-radius: 50%;
    background-color: #6FCF97;
    pointer-events: auto;
}

input[type="range"]:active::-webkit-slider-thumb {
    background-color: #ffffff;
    border: 3px solid #6FCF97;
}

.checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
}

.checkbox__input {
    position: absolute;
    width: 1.375em;
    height: 1.375em;
    opacity: 0;
    cursor: pointer;
}

.checkbox__icon {
    width: 1.375em;
    height: 1.375em;
    flex-shrink: 0;
    overflow: visible;
}

.checkbox__icon .tick {
    stroke-dasharray: 20px;
    stroke-dashoffset: 20px;
    transition: stroke-dashoffset 0.2s ease-out;
}

.checkbox__label {
    margin-left: 0.5em;
    font-family: $nav-font-family;
    font-style: $nav-font-style;
    font-weight: $nav-font-weight;
    font-size: $nav-font-size;
    line-height: $nav-line-height;
    color: $gray;
}

.checkbox__input:checked + .checkbox__icon .tick {
    stroke-dashoffset: 0;
}

.check-group {
    background: #fff;
    max-width: 13rem;
    counter-reset: total;
    counter-reset: checked;
    margin-bottom: 15px;
}

.check-group > * + * {
    margin-top: 0.75rem;
}

.rooms__card {
    width: 230px;
    margin-right: 2.1vw;
    padding-bottom: 15px;
    margin-bottom: 15px;
    box-shadow: 0px 5px 10px gray;
    border-radius: 5px 5px 0 0;
}

.rooms__card:nth-child(3n) {
    margin-right: 0;
}

.rooms__card__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 20px;
}

.stars {
    width: 120px;
    height: 24px;
    padding-top: 7px;
}

.rooms__card__number {
    font-family: $nav-font-family;
    font-style: $nav-font-style;
    font-weight: $main-font-weight;
    font-size: $nav-font-size;
    line-height: $nav-line-height;
    color: $dark;
}


.rooms__card__price {
    font-family: $nav-font-family;
    font-style: $nav-font-style;
    font-weight: $main-font-weight;
    font-size: $nav-font-size;
    line-height: $nav-line-height;
    color: $gray;
}

.rooms__card__feedback {
    font-family: $nav-font-family;
    font-style: $nav-font-style;
    font-weight: $main-font-weight;
    font-size: $nav-font-size;
    line-height: $nav-line-height;
    color: $gray;
}

.section__wrapper {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.settings {
    width: 80vw;
    margin-right: 5vw;
}

.input__wrapper {
    display: flex;
    flex-direction: column;
}

.settings__title {
    font-family: $main-font-family;
    font-style: $main-font-style;
    font-weight: $main-font-weight;
    font-size: $main-font-size;
    line-height: $main-line-height;
    text-transform: $upper-text;
    color: $dark;
    margin-bottom: 15px;
}

.settings__input {
    width: 100%;
    height: 44px;
    background: $light;
    border: 1px solid rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    border-radius: 4px;
    padding-left: 15px;
    font-family: $nav-font-family;
    font-style: $nav-font-style;
    font-weight: $nav-font-weight;
    font-size: $nav-font-size;
    line-height: $nav-line-height;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    margin-bottom: 4vh;
    cursor: pointer;
}

.settings__input-special {
    margin-top: 8px;
}

.values {
    font-family: $nav-font-family;
    font-style: $nav-font-style;
    font-weight: $nav-font-weight;
    font-size: $nav-font-size;
    line-height: $nav-line-height;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.75);
    margin-top: 8px;
}

.price__wrapper {
    display: flex;
    justify-content: space-between;
}

.wrapper {
    position: inherit;
    width: 100%;
    padding: 0px 0px 20px 0px;
}

.rooms__title {
    font-family: $main-font-family;
    font-style: $main-font-style;
    font-weight: $main-font-weight;
    font-size: 24px;
    line-height: 29px;
    color: $dark;
}

.rooms__cards {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
}

.rooms__card__img {
    border-radius: 5px 5px 0 0;
    width: 100%
}

.sections__wrapper {
    display: flex;
    flex-direction: column;
}

.main__img {
    width: 821px;
    height: 485px;
}

.main__img-small {
    width: 431px;
    height: 243px;
}

.gallery {
    display: flex;
    flex-direction: row;
    height: 30vw;
    background-image: url(../img/roomImg.png);
    background-size: 100% auto;
    background-repeat: no-repeat;
    margin-bottom: 40px;
}

.room__tip {
    max-width: 270px;
}

.room__tip__item {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 280px;
    height: 70px;
}

.footer__list {
    padding-left: 40px;
}

.room__tip__item__wrapper {
    margin-left: 10px;
}

.room__tip__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #1F2041;

}

.room__impression__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #1F2041;
    margin-bottom: 20px;
}

.feedback__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #1F2041;
}

.rules__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #1F2041;
}

.cancel__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #1F2041;
}

.room__tip__item__separater {
    width: 280px;
    height: 1px;
    background: rgba(31, 32, 65, 0.1);
}

.two__section__wrapper {
    display: flex;
    justify-content: space-between;
    max-width: 700px;
    margin-top: 30px;
}

.room__tip__item__title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    margin: 0;
}

.room__tip__item__description {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.room__impression_item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.feedback__name {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    margin: 0;
}

.feedback__time {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.feedback__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    margin-top: 15px;
}

.feedback__client {
    display: flex;
    max-width: 740px;
    margin-top: 25px;
}

.feedback__img {
    width: 97px;
    height: 97px;
    margin-left: -25px;
}

.rules__item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.cancel__text {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
}

.rules {
    width: 240px;
}

.cancel {
    max-width: 340px;
}



.main__section__wrapper {
    display: flex;
}

.form__title__span {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
    color: #BC9CFF;
}

.form__room_price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
    margin-left: 87px;
}

.form__room_price-s {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: rgba(31, 32, 65, 0.5);
}

.form__info__wrapper {
    display: flex;
    align-items: baseline;
}

.second__column {
    margin-left: 110px;
    margin-top: 35px;
}

.info__form {
    background-color: $light;
    width: 320px;
    height: 420px;
    display: flex;
    flex-direction: column;
    border: 1px solid rgba(0, 0, 0, 0.12);
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px 30px 25px 30px;
}

.info__add__item {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: rgba(31, 32, 65, 0.75);
    margin-bottom: 10px;
}

.form__total {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #1F2041;
}

.form__total__wrapper {
    display: flex;
    margin-bottom: 20px;
}

.form__total__price {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 19px;
    line-height: 23px;
    color: #1F2041;
}

.form__total__separator {
    position: relative;
    width: 172px;
    height: 1px;
    top: 15px;
    border: 0.01px dashed rgba(31, 32, 65, 0.25);
    box-sizing: border-box;
    margin: 0 5px;
}

.info__add {
    margin-top: -20px;
}

.room__impression__wrapper {
    display: flex;
}

.room__impression__list {
    margin-left: 30px;
}

.hamburger-menu {
    display: none;
}

.settings__dates {
    font-family: $main-font-family;
    font-style: $main-font-style;
    font-weight: $main-font-weight;
    font-size: $main-font-size;
    line-height: $main-line-height;
    text-transform: $upper-text;
    color: $dark;
    margin-top: 3vh;
    margin-bottom: 0.8vh;
}

.settings__dates__value {
    font-family: $main-font-family;
    font-style: $main-font-style;
    font-weight: $main-font-weight;
    font-size: $main-font-size;
    line-height: $main-line-height;
    color: $dark-gray;
}
